@model IEnumerable<OSBB_BLL.Models.BenefitDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Пільги</h2>

<p>
    @Html.ActionLink("Створити нову", "Edit", new { id = 0 }, new { @class = "btn-sm btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BenefitName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BenefitPercent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BenefitName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BenefitPercent)
        </td>
        <td>
            @Html.ActionLink("Редагувати", "Edit", new { id = item.BenefitId }, new { @class = "btn-sm btn-primary"}) 
            @Html.ActionLink("Видалити", "Delete", new { id = item.BenefitId }, new { @class = "btn-sm btn-primary delBenefit", benefit_id = item.BenefitId})
        </td>
    </tr>
}

</table>

@section Scripts{
    <script type="text/javascript">

        $(function () {
            $(".delBenefit").click(function (e) {
                e.preventDefault()
                if (confirm('Дійсно видалити запис?')) {
                    $.ajax({
                        url: "@Url.Action("Delete", "Benefit")",
                        data: { id: $(this).attr('benefit-id') },
                        type: 'POST',
                        success: function (data) {
                            if (data == "OK")
                                window.location.href = "@Url.Action("Index", "Benefit")"
                            else
                                alert("Error")
                        },
                        error: function (data) {
                            alert(data)
                        }
                    });
                }
            });
        });

    </script>

    }
