@model OSBB_BLL.Models.ApartmentDTO

@{
    ViewBag.Title = "Details";
}

<h2>Подробиці</h2>

<div>
    <h4>Квартира № @Model.ApartmentNumber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApartmentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApartmentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalSquare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSquare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LivingSquare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LivingSquare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tenants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenants)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BenefitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BenefitName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.ApartmentId }, new { @class = "btn-sm btn-primary"})
    @Html.ActionLink("Повернутися до списку", "Index", null, new { @class = "btn-sm btn-primary"})
</p>
